@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;padding: 0;
}
header{
    background-color: #2874f0;
    font-family: 'Lato',sans-serif;
    height: 3.5rem;
}
nav{
    display: flex;
}
.headerLogo{
    display: flex;
    margin: 1rem;
    align-items: center ;
}
ul{
    display: flex;
    justify-content: center;
}
ul li{
   padding: 1rem 1.5rem;
    list-style: none;
    
}
nav ul li a{
    
    text-decoration: none;
    color: white;
    font-size: 1rem;

}
nav ul li a:hover{
    font-weight: bolder;
}
.Search{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.Search input{
    margin-left: 2rem;
    width: 29rem;
    height: 1.5rem;
    border-radius: 5px;
    padding: 0 0 0 1rem;
    border: .1rem solid black;
}
.btn{
    padding:3px 10px;
    background-color:#2874f0 ;
    font-family: 'Lato',sans-serif;
    font-weight: 900;
    border-radius: 5px;
    border: .1rem solid white;
    margin-left: 1rem;
}
.btn a{
    text-decoration: none;
    color: white;
}

